#page {
  width: 95%;
  max-width: 700px;
  min-height: 300px;
  margin: 170px auto 0;
}

@media (max-width: 991px){
.section-subtitle {
    margin-bottom: 30px !important;
    margin-top: 46px !important;
 }
}

@media (max-width: 479px){
.chemical-slider {
    height: 470vw;
}
}

@media (max-width: 479px){
.slide-nav {
    position: relative;
    left: auto;
    top: -264vw;
    bottom: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
}

@media (max-width: 479px){
.chemical-card {
    position: static;
    width: 84vw;
    margin-top: -745px;
    margin-bottom: 200px;
    margin-right: 8vw;
    margin-left: 8vw;
}
}

*p{
  text-align: justify;
}

.hide {
  visibility: hidden;
}

.pagination {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  min-height: 50px;
  text-align: center;
  margin-bottom: 64px;
  display: block;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
  width: 58%;
  padding: 1%;
}

.prev, .next {
  float: left;
  font-size: 28px;
  width: 18%;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  background: #bbb;
  border-radius: 5px;
  padding: 1%;
}

.content {
  clear: both;
}

/* .console {
  width: 95%;
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 0;
  outline: 1px solid cyan;
  text-align: center;
} */
.pageNum {
  padding: 5px 10px;
  border-radius: 100px;
  margin: 10px;
  display: inline-block;
  background: #ddd;
  cursor: pointer;
}
.pageNum.navActive {
  background: #bbb;
  color: white;
}
